body {
  margin: 0;
  background-color: white;
  margin-bottom: 30px;
  padding-top: 80px;
  max-width: fill;
}

main {
  margin: 0;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  background-color: #041e42;
  width: 100%;
  margin-bottom: 20px;
  padding: 25px;
}

nav a {
  color: #afeadc;
}

nav input {
  background-color: #afeadc;
  color: #041e42;
  font-family: "Sriracha", cursive;
  width: 14%;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  line-height: 16px;
  height: 42px;
  padding-left: 20px;
}

header {
  height: 200px;
  background-image: url(https://images.unsplash.com/photo-1580808603682-8432a1eee613?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-position: bottom;
}

.top {
  background-color: #afeadc;
  width: 50%;
  float: left;
  height: 450px;
  color: #041e42;
  text-align: center;
  font-size: 50px;
}

h1, h3, h4 {
  font-family: "Sriracha", cursive;
}

p {
  max-width: 600px;
  font-family: "Lemonada", cursive;
}

.pic {
  background-color: #041e42;
  color: #afeadc;
  width: 50%;
  float: right;
  height: 450px;
}

.pic img {
  margin: 7px;
  margin-left: 80px;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  background-image: url(https://images.unsplash.com/photo-1546112571-d79a52caabfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
  background-position: center;
  background-size: cover;
  padding: 100px;
  border: 6px solid #afeadc;
}

#info {
margin-top: 476px;
}

.light {
  background-color: #afeadc;
  font-family: "Lemonada", cursive;
  color: #041e42;
  padding-left: 20px;
  padding-bottom: 20px;
}

.dark {
  background-color: #041e42;
  color: #afeadc;
  font-family: "Lemonada", cursive;
  padding-left: 20px;
  padding-bottom: 20px;
}

#pmme input {
  color: #041e42;
  font-family: "Sriracha", cursive;
  width: 14%;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  line-height: 16px;
  height: 42px;
  padding-left: 20px;
}

#pmme textarea {
  width: fit-content;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  line-height: 16px;
  display: block;
  height: fit-content;
  padding: 12px;
}

.clear {
  clear: both;
}
